/* mobie tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobie-tablet {
        display: none;
    }
    .place__list> .row,
    .event__list > .row,
    .suggest__list > .row,
    .discover__list > .row,
    .tutorial__list> .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    }
    .row::-webkit-scrollbar {
        display: none;
    }
    .row::-webkit-moz-scrollbar{
        display: none;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
 
    .hide-on-tablet {
        display: none;
    }
    .place__list> .row,
    .event__list > .row,
    .suggest__list > .row,
    .discover__list > .row,
    .tutorial__list> .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 20px;
    }
    .row::-webkit-scrollbar {
        display: none;
    }
    
    
}

/* mobile */
@media (max-width:739px) {
    
    .col {
        max-width: 70%;
        background-size: contain;
    }
    .place__list > .row >.col {
        max-width: 40%;
        background-size: contain;
    }
    .hide-on-mobile {
        display: none;
    }
    .place__list,
    .event__list ,
    .suggest__list ,
    .discover__list ,
    .tutorial__list {
        margin: 0 12px;
    }
.wellcome-heading,
.place-heading,
.event-heading,
.suggest-heading,
.discover-heading,
 .tutorial-heading {
    margin-left: 16px ;
    margin-right: 16px;
}

.wellcome-content,
.place-content,
.event-content,
.suggest-content,
.discover-content,
.tutorial-content {
    margin-left: 16px ;
    margin-right: 16px;
}
.about> .row >.col {
    max-width: 100%;

}
.about__sologan {
    font-size: 2.3rem;
}
.homestay,
.widget,
.about{
    margin-left: 16px ;
    margin-right: 16px;
}
}