/* mobie tablet */
@media (max-width: 1023px) {
    
    .hide-on-mobie-tablet {
        display: none;
    }
    .place__list> .row,
    .event__list > .row,
    .suggest__list > .row,
    .discover__list > .row,
    .tutorial__list> .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    }
    .row::-webkit-scrollbar {
        display: none;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
 
    .hide-on-tablet {
        display: none;
    }
    .place__list> .row,
    .event__list > .row,
    .suggest__list > .row,
    .discover__list > .row,
    .tutorial__list> .row {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 20px;
    }
    .row::-webkit-scrollbar {
        display: none;
    }
    
    
}

/* mobile */
@media (max-width:739px) {
    
    .col {
        max-width: 70%;
        background-size: contain;
    }
    .place__list > .row >.col {
        max-width: 40%;
        background-size: contain;
    }
    .hide-on-mobile {
        display: none;
    }
    .place__list,
    .event__list ,
    .suggest__list ,
    .discover__list ,
    .tutorial__list {
        margin: 0 12px;
    }
    
}